@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }
    10% {
        transform: rotate(14.0deg)
    }
    20% {
        transform: rotate(-8.0deg)
    }
    30% {
        transform: rotate(14.0deg)
    }
    40% {
        transform: rotate(-4.0deg)
    }
    50% {
        transform: rotate(10.0deg)
    }
    60% {
        transform: rotate(0.0deg)
    }
    100% {
        transform: rotate(0.0deg)
    }
}
/* Grid.css */
.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.image.dark {
    background-image: url('/grid.png');
    z-index: 0;
}

.image.light {
    background-image: url('/grid-white.png');
    z-index: 1;
    opacity: 0.7;

}


