@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-dark {
    background-image: url('../public/grid-dark.png');
    background-repeat: repeat;
    background-size: 70%;
    filter: invert(16%) sepia(7%) saturate(359%) hue-rotate(169deg) brightness(95%) contrast(98%);
}

.grid-light {
    background-image: url('../public/grid-light.png');
    background-repeat: repeat;
    background-size: 70%;
    opacity: 0.5;
    z-index: 2;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
    mask-size: 250px 250px;
    mask-repeat: no-repeat;
}
